*{
 color: white;
 font-family: Arial;
}
body {
	background: black;
}
div {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
button{
	width: 200px;
	height: 120px;
	color: black;
	font-size: 30px;
	border: none;
	border-radius: 20px;
	transition: 0.3s;
}
button:hover {
	background: green;
}
.red:hover {
	background: red;
}
p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	background: white;
	height: 120px;
	width: 200px;
	border-radius: 20px;
	color: black;
}